In [2]:
name = "성애"
age = 27
print("{}는 {}살입니다.".format(name, age))

성애는 27살입니다.

In [5]:
title = "생성형 AI 개발자 양성 과정"
count = 1
print(f"{title} {count}회차입니다.")

생성형 AI 개발자 양성 과정 1회차입니다.

In [19]:
day = 2
myStr = f"{day:02d}"
print(f"{myStr}일차 실습 내용입니다.")

02일차 실습 내용입니다.

In [51]:
symbol = "ABC"
print(f"{symbol:*^10}")

***ABC****

In [77]:
value = 12345.1
print(f"{value:06.2f}")

12345.10

In [83]:
a = "hello"
b = ["hello", "world"]
print(id(a), id(b), id(b[0]))

4401012896 5892224448 4401012896

In [85]:
even_num = [x for x in range(10) if x%2 == 0]
print(even_num)

[0, 2, 4, 6, 8]

In [93]:
a = 1,2
b = (1,2)
c = [1,2]
print(a, type(a))
print(b, type(b))
print(c, type(c))

(1, 2) <class 'tuple'>
(1, 2) <class 'tuple'>
[1, 2] <class 'list'>

In [105]:
my_tuple = 1,2,3,4,5
low, *others, high = my_tuple
print(others)

[2, 3, 4]

In [109]:
def foo():
    return 1,2,3
val = foo()
print(val, type(val))

(1, 2, 3) <class 'tuple'>

In [115]:
name = ['merona', 'gugucon']
price = [500, 1000]
z = zip(name, price)
print(list(z))

for n,p in zip(name, price):
    print(n,p)

[('merona', 500), ('gugucon', 1000)]
merona 500
gugucon 1000

In [121]:
sample1 = {"메로나": 500, "구구콘": 1000}
sample2 = dict(메로나=500, 구구콘=1000)
sample3 = dict([("메로나",500), ("구구콘",1000)])

print(sample1)
print(sample2)
print(sample3)

{'메로나': 500, '구구콘': 1000}
{'메로나': 500, '구구콘': 1000}
{'메로나': 500, '구구콘': 1000}

In [123]:
name = ['merona', 'gugucon']
price = [500, 1000]

icecream = dict(zip(name, price))
print(icecream)

{'merona': 500, 'gugucon': 1000}

In [129]:
my_dict = {"apple": 1, "banana": 2}

#키가 존재하는 경우
exist = my_dict.setdefault("apple", 10)
print(exist)

#키가 존재하지 않는 경우
not_exist = my_dict.setdefault("kiwi", 10)
print(not_exist)

1
10

In [135]:
name = ['merona', 'gugucon']
price = [500, 1000]

icecream = {k:v for k,v in zip(name, price)}
print(icecream) #{'merona': 500, 'gugucon': 1000}

#더 간단한 딕셔너리 컴프리헨션
simple_dict = dict(zip(name,price))
print(simple_dict)

{'merona': 500, 'gugucon': 1000}
{'merona': 500, 'gugucon': 1000}

In [147]:
from collections import namedtuple
Person = namedtuple('Person', ['name', 'city'])

p1 = Person(name='seongae', city='seoul')
print(p1.name, p1.city)

seongae seoul